.zgo-form-bubble {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 5px solid var(--primary);
    color: var(--primary);
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.67);
    transition: all 0.5s ease-in-out;
}

.zgo-form-bubble.active {
    background-color: var(--primary);
    color: var(--light);
    transform: scale(1.1);
}

.zgo-form-bubble.disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.zgo-form-bubble.success {
    background-color: var(--success);
    border-color: var(--success);
    color: var(--light);
}

.zgo-form-bubble.error {
    background-color: var(--danger);
    border-color: var(--danger);
    color: var(--light);
}

.zgo-form-bubble.error.active {
    background-color: var(--primary);
    border-color: var(--danger);
    color: var(--light);
}

.zgo-form-bubble.success.active {
    background-color: var(--primary);
    border-color: var(--success);
    color: var(--light);
}

.zgo-font {
    font-weight: 900;
    font-size: 24px;
    left: -2px;
    position: relative;
}