.zgo-form-bubble {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 5px solid var(--primary);
    color: var(--primary);
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.67);
    transition: all 0.5s ease-in-out;
}

.zgo-form-square {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: 5px solid var(--primary);
    color: var(--primary);
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.67);
    transition: all 0.5s ease-in-out;
}

.zgo-form-rectangle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    flex-basis: 0;
    flex-grow: 3;
    max-width: 100%;
    border: 5px solid var(--primary);
    color: var(--primary);
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.67);
    transition: all 0.5s ease-in-out;
}

.zgo-form-bubble, 
.zgo-form-square, 
.zgo-form-rectangle {
    font-weight: 500;
}

.zgo-form-bubble.active, 
.zgo-form-square.active, 
.zgo-form-rectangle.active {
    background-color: var(--primary);
    color: var(--light);
    transform: scale(1.1);
    font-weight: 700;
}

.zgo-form-bubble.disabled, 
.zgo-form-square.disabled, 
.zgo-form-rectangle.disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.zgo-form-bubble.success, 
.zgo-form-square.success, 
.zgo-form-rectangle.success {
    background-color: var(--success);
    border-color: var(--success);
    color: var(--light);
}

.zgo-form-bubble.error, 
.zgo-form-square.error, 
.zgo-form-rectangle.error {
    background-color: var(--danger);
    border-color: var(--danger);
    color: var(--light);
}

.zgo-form-bubble.error.active, 
.zgo-form-square.error.active, 
.zgo-form-rectangle.error.active {
    background-color: var(--primary);
    border-color: var(--danger);
    color: var(--light);
}

.zgo-form-bubble.success.active, 
.zgo-form-square.success.active, 
.zgo-form-rectangle.success.active {
    background-color: var(--primary);
    border-color: var(--success);
    color: var(--light);
}

.zgo-font {
    font-weight: 900;
    font-size: 24px;
    left: -2px;
    position: relative;
}
