.form-line-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    box-sizing: border-box;
}

.form-line {
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to right, blue, rgb(83, 83, 228), blue);
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.67);
}

.form-line.half-success {
    background-image: linear-gradient(to right, green, blue);
}