.zgo-form-wrapper {
    margin-top: 2em;
    width: 100%;
    display: flex;
}

.zgo-form-nav-wrapper {
    width: 100%;
    display: flex;
}

.zgo-wrapper {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.67);
}

.zgo-title {
    text-align: center;
    padding-bottom: 1em;
    box-sizing: border-box;
    color: var(--primary);
}